body {
    font-family: sans-serif;
    text-align: center;
}

#user {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

input[type=text] {
    padding: 4px 10px;
    width: 300px;
}

td {
    padding: 10px;
}

#query {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 24px;
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 10px;
    border-style: solid;
    border-color: #cccccc;
}

.btn-search {
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
}

#nav {
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 40%;
    flex: 0 1 40%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#nav a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    float: right;
    margin-right: 25px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.adv-search {
    width: 150px;
    padding: 10px;
    background-color: #4b93f9;
    border-radius: 5px;
    color: white;
}
